.registrarse {
    display: flex;
    flex-direction: column;
    width: 480px;
    background: #1f1f1f;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 -2px 10px black;
  
    .titulo {
      margin: 10px 0;
    }
  }