.item-ver-carrito {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .contenedor-imagen {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 90%;
        height: 90%;
        transform: rotate(-5deg);
      }
    }
    .nombre {width: 31%;}
    .cantidad {width: 15%;}
    .precio {
      width: 23%;
    }
  
    .cantidad {
      display: flex;

      .flecha {
        cursor: pointer;
      }

      .valor {
        margin: 0 10px;
      }
    }
  
    .boton-eliminar {
      padding-left: 12px;
      cursor: pointer;
    }
  }