.prevista-coleccion {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .titulo {
      font-size: 28px;
      margin-bottom: 25px;
      color: #fff;
    }
  
    .prevista {
      display: flex;
      justify-content: space-between;
    }
  }